* {
    margin: 0;
    box-sizing: border-box;
}
.nav-bar {
    height: 60px;
    width: 100%;
    background-color: #023047;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    height: 48px;
    width: 100px;
    background-size: cover;
    border-radius: 5px;
}
.border:hover {
    border: 1.5px solid #a2d2ff;
}
.search-bar{
    height:50px;
    width:500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
    border-radius: 5px;
}
.search-bar {
    height: 40px;
    width: 500px;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    overflow: hidden;
}

.search {
    height: 40px;
    width: 400px;
    background-color:white;
    border: none;
}
.search:hover{
    border: 2px solid orange;
}
.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin: 10px;
    color:black;
}
.search-btn {
    height: 100%;
}
.search-btn input {
    height: 100%;
    font-size: 16px;
    cursor:pointer;
    border:none;
    background-color:orange;
}
.ankers {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    font-style: oblique;
}
.ankers a {
    margin: 30px;
    border-radius: 5px;
    padding: 3px;
}
.ankers a:hover {
    border: 2px solid #a2d2ff;
}
.heading {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #caf0f8;
    color: #576d7f;
    font-style: italic;
}
h2 {
    border-radius: 5px;
    padding: 10px;
}
.heading h2:hover {
    border: 1.5px solid #4361ee;
}
.head-bg {
    height: 450px;
    width: 100%;
    background-image: url('house.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.heading1 {
    margin-top: 15px;
    margin-left: 10px;
}
aside {
    height: 600px;
    width: 100%;
    background-color: #e2e7e6;
}
.big-box {
    display: flex;
}
.pics {
    height: 500px;
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 10px;
    position: relative;
}
.pic-image {
    height: 400px;
    width: 100%;
    background-size: cover;
}
.ic-para2 p {
    border: 1px solid rgb(16, 6, 105);
    margin-left: 15px;
    padding: 7px;
    color: blueviolet;
}
.ic-para2 p:hover {
    background-color: aqua;
}
.ic-para3 i:hover {
    background-color: aqua;
}
.layout-1 {
    margin: 30px;
    height: 220px;
    width:80%;
    border: 1px solid black;
    background-color: white;
}
.paras1{
    display: flex;
    margin-top: 15px;
}
.paras1 i {
    margin-right: 15px; /* Adjust the value as needed */
    color:#ffea00;
}
.layout2{
    height:220px;
    width:100%;
    border:1px solid black;
    margin-top:50px;
    background-color: white;
}
button:hover{
    background-color: aqua;

}
button{
    display:flex;
    justify-content: center;
    align-items: center;
}